@font-face {
  font-family: MuseoSansCyrl;
  font-display: swap;
  src: url("../fonts/MuseoSansCyrl100.woff2") format("woff2"), url("../fonts/MuseoSansCyrl100.ttf2") format("ttf2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: MuseoSansCyrl;
  font-display: swap;
  src: url("../fonts/MuseoSansCyrl500.woff2") format("woff2"), url("../fonts/MuseoSansCyrl500.ttf2") format("ttf2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: MuseoSansCyrl;
  font-display: swap;
  src: url("../fonts/MuseoSansCyrl300.woff2") format("woff2"), url("../fonts/MuseoSansCyrl300.ttf2") format("ttf2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: MuseoSansCyrl;
  font-display: swap;
  src: url("../fonts/MuseoSansCyrl700.woff2") format("woff2"), url("../fonts/MuseoSansCyrl700.ttf2") format("ttf2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: MuseoSansCyrl;
  font-display: swap;
  src: url("../fonts/MuseoSansCyrl900.woff2") format("woff2"), url("../fonts/MuseoSansCyrl900.ttf2") format("ttf2");
  font-weight: 900;
  font-style: normal;
}

.fadeIn {
  opacity: 0;
}

.fadeIn.animated {
  opacity: 1;
}

.fadeInDown {
  opacity: 0;
  transform: translateY(200px);
}

.fadeInDown.animated {
  opacity: 1;
  transform: translateY(0px);
}

.fadeInLeft {
  opacity: 0;
  transform: translateX(-200px);
  transition: all 0.2s;
}

.fadeInLeft.animated {
  opacity: 1;
  transform: translateX(0px);
}

.fadeInUp {
  opacity: 0;
  transform: translateY(-200px);
  transition: all 0.2s;
  transition-timing-function: ease-in;
}

.fadeInUp.animated {
  opacity: 1;
  transform: translateY(0px);
}

.fadeInRight {
  opacity: 0;
  transform: translateX(200px);
  transition: all 0.2s;
}

.fadeInRight.animated {
  opacity: 1;
  transform: translateX(0px);
}

.video__name,
.form-block__subtitle,
.exp__text,
.cards__card-item,
.cards__card-text,
.details__box-text,
.grid-chess__text,
.title--secondary-slim,
.title--secondary {
  font-size: 18px;
  line-height: 1.44em;
  letter-spacing: 0.04em;
  color: #444444;
}

.green-line {
  position: relative;
  padding-left: 40px;
}

.green-line::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 5px;
  background-color: #22B856;
  left: 0;
}

.title {
  margin-bottom: 60px;
  overflow: hidden;
}

.title--big {
  margin: 30px 0 0 0;
  font-weight: 800;
  font-size: 64px;
  line-height: 1.31em;
  letter-spacing: 0.05em;
  color: #222222;
  text-transform: uppercase;
}

.title--own {
  font-weight: 800;
  margin: 0;
  font-size: 60px;
  line-height: 1.33em;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #222222;
}

.title--secondary {
  display: block;
}

.title--margin-top {
  margin-top: 10px;
}

.title--margin-bottom {
  margin-bottom: 10px;
}

.title--secondary-slim {
  display: block;
  max-width: 650px;
}

.grid-chess {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 90px;
}

.grid-chess__img {
  border-radius: 10px;
}

.grid-chess__img--mr {
  margin-right: 30px;
}

.grid-chess__img--ml {
  margin-left: 30px;
}

.grid-chess--reverse {
  flex-direction: row-reverse;
}

.grid-chess--last {
  margin-bottom: 40px;
}

.grid-chess__content {
  max-width: 510px;
}

.grid-chess__text {
  font-weight: 300;
  margin: 30px 0 0 0;
}

.grid-chess__title {
  font-weight: 800;
  font-size: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #000000;
}

.button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px 26px;
  display: block;
  font-size: 16px;
  line-height: 1.57em;
  text-align: center;
  letter-spacing: 0.04em;
  font-family: MuseoSansCyrl;
  background-color: #22B856;
  border-radius: 30px;
  border: 1px solid #22B856;
  color: white;
  cursor: pointer;
  transition: ease-in 0.2s;
}

.button:hover {
  background: none;
  color: #22B856;
}

.button--bg-none {
  background: none;
  color: #22B856;
  border: 1px solid #22B856;
}

.button--white {
  background: none;
  color: white;
  border: 1px solid white;
  display: inline-block;
}

.button--margin-top {
  margin-top: 20px;
}

.button--centered {
  margin: 40px auto 0 auto;
}

.button__img {
  margin-right: 10px;
  transition: ease-in 0.2s;
}

.button--whatsapp {
  align-items: center;
  display: flex;
  background: none;
  border: 1px solid #22B856;
  color: #22B856;
  padding: 8px 80px 8px 25px;
  margin-right: 30px;
}

.button--whatsapp:hover {
  color: white !important;
  background-color: #22B856 !important;
}

.button--whatsapp:hover .button__img--whatsapp {
  filter: invert(213%) sepia(26) saturate(1%) hue-rotate(363deg) brightness(192%) contrast(91%);
}

.button--telegram {
  align-items: center;
  display: flex;
  background: none;
  border: 1px solid #0A8FF0;
  color: #0A8FF0;
  padding: 8px 80px 8px 25px;
}

.button--telegram:hover {
  color: white !important;
  background-color: #0A8FF0 !important;
}

.button--telegram:hover .button__img--telegram {
  filter: invert(213%) sepia(26) saturate(1%) hue-rotate(363deg) brightness(192%) contrast(91%);
}

.button--white:hover {
  color: #22B856;
  background-color: white;
}

.contact-lane {
  background: #F0F0F0;
  height: 122px;
  width: 100%;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-lane__inner {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.contact-lane__inner--buttons {
  max-width: 460px;
}

.contact-lane__inner--instagram {
  max-width: 520px;
}

.contact-lane__link-box {
  max-width: 200px;
  display: flex;
  text-decoration: none;
  color: #000000;
}

.contact-lane__link-box--instagram {
  position: relative;
  padding-left: 35px;
}

.contact-lane__link-box--instagram::before {
  position: absolute;
  content: "";
  width: 35px;
  height: 35px;
  background-image: url(../img/instagram.svg);
  left: 0;
  top: 4%;
}

.contact-lane__link-text {
  margin-left: 12px;
}

.contact-lane__link-name {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.04em;
}

.contact-lane__link {
  font-weight: 300;
  font-size: 15px;
  line-height: 1.73em;
  letter-spacing: 0.04em;
}

.header {
  position: absolute;
  width: 100%;
}

.header__inner {
  padding-top: 60px;
  justify-content: space-between;
  align-items: center;
}

.header__link {
  margin-left: 20px;
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.hero__top {
  background: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  flex: 1 0 auto;
}

.hero__bottom {
  flex: 0 1 auto;
}

.hero__wrapper {
  height: 100%;
  display: flex;
  justify-content: end;
}

.hero__inner {
  padding: 0 0 10% 0;
  justify-content: end;
  align-items: flex-end;
}

.hero__title {
  font-weight: 600;
  font-size: 45px;
  padding-right: 20px;
  overflow: hidden;
}

.hero__title-line {
  display: block;
  line-height: 1.3em;
  letter-spacing: 0.02em;
  color: #22B856;
}

.hero__title-line:last-child {
  color: white;
}

.details {
  padding: 10px 0;
  border-top: 1px solid rgb(229, 229, 229);
}

.details__box {
  padding: 30px 0;
  grid-column: 3 span;
  position: relative;
}

.details__box:not(:last-child)::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 100%;
  top: 0;
  right: -15px;
  background: #E5E5E5;
}

.details__box-title {
  font-weight: 800;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0.04em;
}

.details__box-text {
  margin-bottom: 0;
  margin-top: 10px;
}

.details__box-text--slim {
  max-width: 220px;
}

.cards {
  margin-bottom: 100px;
}

.cards__card {
  position: relative;
  grid-column: 4 span;
  display: flex;
  flex-direction: column;
}

.cards__card--grey-bg {
  background: #F7F7F7;
  border-radius: 20px;
}

.cards__card--date {
  position: relative;
  transition: ease-in 0.1s;
  min-height: 190px;
  margin-bottom: 50px;
}

.cards__card--date::after {
  position: absolute;
  content: "";
  width: 135px;
  height: 77px;
  background-image: url(../img/card-date-vector.png);
  left: 50%;
  transform: translateX(-50%);
  bottom: -100%;
  transition: ease-in 0.1s;
  visibility: hidden;
}

.cards__card--date:hover {
  min-height: 240px;
  margin-bottom: 0;
  background-color: #22B856;
}

.cards__card--date:hover::after {
  visibility: visible;
  bottom: -28px;
}

.cards__card--date:hover .cards__card-place,
.cards__card--date:hover .cards__card-date,
.cards__card--date:hover .cards__card-title--date,
.cards__card--date:hover .cards__card-item--date {
  color: white;
}

.cards__card--date:hover .cards__card-list--date::before {
  background-color: white;
}

.cards__card--date:hover .cards__card-date-bottom {
  bottom: -50px;
}

.cards__card--date:hover .cards__button {
  bottom: -10px;
  opacity: 1;
  z-index: 3;
}

.cards__wrapper--slider {
  width: auto;
}

.cards__card-inner {
  padding: 40px 30px;
}

.cards__card-inner--date {
  min-height: 190px;
  display: flex;
  justify-content: space-between;
}

.cards__card-title {
  position: relative;
  font-weight: 800;
  font-size: 30px;
  letter-spacing: 0.04em;
  min-width: 140px;
}

.cards__card-title--green-bg {
  background-color: #22B856;
  color: white;
  padding: 0 8px;
  border-radius: 2px;
}

.cards__card-title--own-style {
  color: #222222;
  padding-left: 8px;
  display: block;
}

.cards__card-title--date {
  font-weight: 300;
  font-size: 34px;
  line-height: 0.76em;
  letter-spacing: 0.06em;
  color: #22B856;
}

.cards__card-date-block {
  display: flex;
  justify-content: space-between;
}

.cards__card-date {
  margin-top: -5px;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.17em;
  letter-spacing: 0.04em;
  color: #22B856;
  display: block;
}

.cards__card-date--slim {
  max-width: 60px;
}

.cards__card-date-bottom {
  position: relative;
  left: 0;
  bottom: 2px;
  z-index: -1;
  max-width: 100%;
  transition: ease-in 0.2s;
}

.cards__card-place {
  position: absolute;
  bottom: 20px;
  font-weight: 300;
  font-size: 12px;
  line-height: 2.17em;
  letter-spacing: 0.04em;
  color: #22B856;
}

.cards__card-text {
  position: relative;
  padding-left: 8px;
  margin-top: 40px;
  font-weight: 300;
  flex: 1 0 auto;
  max-width: 400px;
}

.cards__card-text--tight {
  max-width: 335px;
}

.cards__card-text::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 2px;
  background-color: #22B856;
  top: -20px;
  left: 8px;
  border-radius: 5px;
}

.cards__card-img {
  width: 100%;
  display: block;
  flex: 0 1 auto;
}

.cards__pagination {
  display: none;
}

.cards__card-list {
  padding-left: 30px;
}

.cards__card-list--date {
  position: relative;
  max-width: 205px;
  margin: 0;
}

.cards__card-list--date::before {
  position: absolute;
  content: "";
  width: 2px;
  height: 100%;
  background-color: #22B856;
  left: -10px;
}

.cards__card-item {
  font-weight: 300;
}

.cards__card-item:not(:last-child) {
  margin-bottom: 8px;
}

.cards__card-item--date {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.38em;
  letter-spacing: 0.02em;
  color: #22B856;
}

.cards__button {
  cursor: pointer;
  position: absolute;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: #22B856;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  opacity: 0;
}

.cards__button::before,
.cards__button::after {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  background-color: white;
  transform: translate(-50%, -50%);
}

.cards__button::before {
  width: 24px;
  height: 2px;
}

.cards__button::after {
  height: 24px;
  width: 2px;
}

.about {
  margin-top: 100px;
}

.reviews {
  margin-bottom: 100px;
}

.reviews__buttons {
  max-width: 390px;
  display: flex;
  justify-content: space-between;
  margin: 40px auto 0 auto;
}

.reviews-slider {
  position: relative;
  overflow: hidden;
}

.reviews-slider__slide {
  flex-shrink: 0;
  display: flex;
}

.reviews-slider__img-block {
  display: flex;
  margin-right: 30px;
}

.reviews-slider__img-block img:first-child {
  margin-right: 30px;
}

.reviews-slider__reviewer {
  max-width: 510px;
}

.reviews-slider__reviewer-name {
  margin: 0 0 10px 0;
  font-weight: 800;
  font-size: 24px;
  line-height: 1.2em;
  letter-spacing: 0.04em;
}

.reviews-slider__reviewer-info {
  margin: 0 0 10px 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.3em;
  letter-spacing: 0.02em;
}

.reviews-slider__reviewer-procedure {
  margin: 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.38em;
  letter-spacing: 0.04em;
}

.reviews-slider__reviewer-procedure--bold {
  font-weight: 400;
  line-height: 1.62em;
}

.reviews-slider__reviewer-review {
  margin: 30px 0 30px 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.38em;
  letter-spacing: 0.02em;
  -webkit-line-clamp: 6;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.reviews-slider__reviewer-link {
  position: absolute;
  bottom: 0;
  padding-left: 55px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62em;
  letter-spacing: 0.04em;
  color: #222222;
  text-decoration: none;
}

.reviews-slider__reviewer-link:hover .reviews-slider__point {
  background-color: #22B856;
}

.reviews-slider__reviewer-link:hover .reviews-slider__point::after,
.reviews-slider__reviewer-link:hover .reviews-slider__point::before {
  background-color: #22B856;
}

.reviews-slider__point {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #E5E5E5;
  left: 18px;
  top: 9px;
  transition: ease-in 0.1s;
}

.reviews-slider__point::after,
.reviews-slider__point::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #E5E5E5;
  transition: ease-in 0.2s;
}

.reviews-slider__point::after {
  right: -14px;
}

.reviews-slider__point::before {
  left: -14px;
}

.reviews-slider__nav {
  width: 110px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  right: 105px;
}

.exp__container {
  border-top: 2px solid #E5E5E5;
  margin-bottom: 100px;
}

.exp__box {
  grid-column: 3 span;
  display: flex;
  flex-direction: column;
}

.exp__number {
  position: relative;
  color: #22B856;
  font-size: 34px;
  line-height: 0.76em;
  letter-spacing: 0.04em;
  padding-left: 30px;
  padding-top: 30px;
  margin-bottom: 10px;
}

.exp__number::before {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #22B856;
  top: -7px;
  left: 30px;
}

.exp__text {
  padding-left: 30px;
  font-weight: 300;
}

.form-block {
  position: relative;
  margin: 100px 0;
}

.form-block__bg {
  background: url(../img/form-bg.jpg);
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  background-repeat: no-repeat;
  opacity: 0.2;
  background-size: cover;
}

.form-block__inner {
  background: #22B856;
  min-height: 440px;
}

.form-block__container {
  text-align: center;
  position: relative;
  z-index: 2;
  padding: 65px 0;
}

.form-block__title {
  display: block;
  font-weight: 800;
  font-size: 24px;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.form-block__subtitle {
  font-weight: 300;
  color: white;
}

.form-block__input-box {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.form-block__input-plus {
  width: 80px;
  height: 50px;
  background: #EDEDED;
  border-radius: 30px 0px 0px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 3px;
}

.form-block__input {
  height: 50px;
  width: 385px;
  border-radius: 0px 30px 30px 0px;
  border: none;
  padding-left: 35px;
  outline: none;
  font-family: "MuseoSansCyrl";
  font-size: 16px;
}

.form-block__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.38em;
  letter-spacing: 0.02em;
  color: #444444;
}

.form-block__input::placeholder {
  font-size: 16px;
  line-height: 1.38em;
  letter-spacing: 0.02em;
  color: #444444;
}

.form-block__privacy,
.form-block__privacy-link {
  font-size: 14px;
  line-height: 1.57em;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.form-block__privacy {
  max-width: 570px;
  margin: 20px auto 0 auto;
}

.video {
  margin-bottom: 100px;
}

.video__wrapper {
  margin-bottom: 40px;
  overflow: hidden;
}

.video__box {
  grid-column: 6 span;
  position: relative;
  border-radius: 10px;
  text-decoration: none;
}

.video__poster {
  position: relative;
}

.video__bg {
  position: relative;
  top: 0;
  left: 0;
  border-radius: 10px;
  width: 100%;
}

.video__play {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.video__name {
  position: relative;
  z-index: -1;
  font-weight: 600;
  color: black;
  margin-top: 20px;
  display: block;
}

.contact__wrapper {
  text-align: center;
}

.contact__subtitle {
  display: block;
  margin-top: 10px;
  font-weight: 800;
  font-size: 22px;
  line-height: 1.18em;
  letter-spacing: 0.04em;
  color: #222222;
}

.contact__buttons-block {
  margin-top: 60px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
}

.contact__screenshots {
  display: block;
  margin: auto;
}

.swiper-pagination {
  display: flex;
  justify-content: center;
}

.swiper-pagination-1 {
  display: none;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid rgb(182, 182, 182);
  margin: 0.2em;
  background: none;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: rgb(182, 182, 182);
}

.swiper-button-prev,
.swiper-button-next {
  display: inline-block;
  position: relative;
  font-size: 16px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: #797979;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 20px;
  font-weight: 700;
}

.count-number {
  opacity: 0;
}

.filmstrip {
  margin-bottom: 100px;
}

.filmstrip__slide {
  background-image: url(../img/film-slide.jpg);
  flex-shrink: 1;
  width: auto;
}

.filmstrip__slide-inner {
  display: flex;
  padding: 130px 25px;
}

.filmstrip__img {
  display: block;
  border-radius: 20px;
}

.filmstrip__img--margin {
  margin-right: 20px;
}

.filmstrip__pagination {
  text-align: center;
  margin-top: 30px;
}

.cookies {
  width: 100%;
  background-color: #22B856;
  position: fixed;
  bottom: 0;
  z-index: 20;
}

.cookies__container {
  padding: 20px 0;
  text-align: center;
}

.cookies__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.42em;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin-right: 60px;
}

.cookies__link {
  color: white;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "MuseoSansCyrl";
  margin: 0;
}

.page {
  position: relative;
  overflow-x: hidden;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.wrapper {
  max-width: 1330px;
  margin: auto;
  padding: 0 30px;
}

@media (max-width: 1200px) {
  .cards__wrapper--date {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cards__card--date:hover {
    min-height: 190px;
    margin-bottom: 40px;
    background-color: #22B856;
  }

  .cards__card--date:hover::after {
    bottom: -15%;
  }

  .cards__card--date {
    max-width: 620px;
    width: 100%;
    margin-bottom: 40px;
    background-color: #22B856;
  }

  .cards__card--date::after {
    visibility: visible;
    bottom: -15%;
  }

  .cards__card-inner--date {
    padding: 24px 27px;
  }

  .cards__card-title {
    min-width: 120px;
  }

  .cards__card-title--date {
    color: white;
    font-size: 28px;
    line-height: 0.93em;
  }

  .cards__card-date {
    color: white;
  }

  .cards__card-date--slim {
    max-width: 50px;
  }

  .cards__card-place {
    color: white;
    bottom: 45%;
  }

  .cards__card-list--date {
    max-width: none;
    padding-left: 20px;
  }

  .cards__card-list--date::before {
    display: none;
  }

  .cards__card-item--date {
    font-size: 14px;
    line-height: 1.43em;
    color: #FFFFFF;
  }

  .cards__button {
    opacity: 1;
    z-index: 2;
  }

  .reviews-slider {
    max-width: 620px;
    margin: auto;
  }

  .reviews-slider__slide {
    flex-direction: column;
  }

  .reviews-slider__reviewer {
    margin-top: 30px;
    max-width: 100%;
  }

  .reviews-slider__nav {
    right: 0;
  }

  .contact__screenshots {
    display: none;
  }
}

@media (max-width: 768px) {
  .green-line {
    padding-left: 10px;
  }

  .green-line::before {
    width: 3px;
  }

  .title {
    margin-bottom: 40px;
  }

  .title--big {
    font-size: 26px;
    line-height: 1.15em;
  }

  .title--own {
    font-size: 38px;
    line-height: 1.58em;
    padding-left: 10px;
  }

  .title--secondary {
    font-size: 16px;
    line-height: 1.5em;
    margin-top: 10px;
  }

  .title--secondary-slim {
    margin: 0;
    font-size: 16px;
    line-height: 1.25em;
    padding-left: 10px;
  }

  .title--margin-top {
    margin-top: 5px;
  }

  .title--margin-bottom {
    margin-bottom: 5px;
  }

  .grid-chess {
    flex-direction: column;
    margin-bottom: 40px;
  }

  .grid-chess__img {
    width: 100%;
    max-height: 303px;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .grid-chess__img--mr,
  .grid-chess__img--ml {
    margin: 0;
  }

  .grid-chess__content {
    margin-top: 30px;
    max-width: none;
  }

  .grid-chess__content--price {
    text-align: center;
  }

  .grid-chess__title {
    font-size: 20px;
  }

  .grid-chess__title--price {
    font-size: 26px;
    text-transform: none;
    line-height: 1.2em;
  }

  .grid-chess__text {
    font-size: 16px;
    line-height: 1.25em;
    margin-top: 20px;
  }

  .grid-chess__text--price {
    padding: 0 20px;
  }

  .button:hover {
    background-color: #22B856;
    color: white;
  }

  .button--whatsapp:hover {
    color: #22B856 !important;
    background: none !important;
  }

  .button--whatsapp:hover .button__img--whatsapp {
    filter: none;
  }

  .button--telegram:hover {
    color: #0A8FF0 !important;
    background: none !important;
  }

  .button--telegram:hover .button__img--telegram {
    filter: none;
  }

  .button {
    padding: 7px 21px;
    font-size: 14px;
  }

  .button--margin-top {
    margin: 20px auto !important;
  }

  .button--centered {
    margin: 0 auto;
  }

  .button--whatsapp {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 12px 47px;
    margin-bottom: 20px;
    margin-right: 0;
    font-size: 16px;
  }

  .button--telegram {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 12px 50px;
    font-size: 16px;
  }

  .contact-lane {
    height: 140px;
    margin-bottom: 50px;
  }

  .contact-lane--instagram {
    height: 180px;
  }

  .contact-lane__link-box--instagram {
    max-width: 210px;
    position: relative;
    padding-left: 30px;
  }

  .contact-lane__link-box--instagram:first-child:after {
    position: absolute;
    content: "";
    height: 1px;
    width: 100%;
    background-color: rgb(182, 182, 182);
    left: 0;
    bottom: -20px;
  }

  .contact-lane__link-box--instagram::before {
    width: 30px;
    height: 30px;
    left: 0;
    top: 4%;
    background-size: cover;
  }

  .contact-lane__inner {
    flex: none;
    flex-direction: column;
    height: 96px;
  }

  .contact-lane__inner--instagram {
    height: 132px;
  }

  .contact-lane__link {
    font-size: 14px;
    line-height: 1.43em;
  }

  .header__inner {
    padding-top: 20px;
  }

  .header__logo {
    max-width: 114px;
  }

  .hero__inner {
    padding: 405px 0 90px 0;
    justify-content: end;
  }

  .hero__title {
    font-size: 22px;
    padding-right: 63px;
  }

  .details {
    border: none;
    margin-bottom: 50px;
  }

  .details__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .details__box {
    text-align: center;
    width: 100%;
    margin-bottom: 40px;
    padding: 0;
  }

  .details__box:not(:last-child)::after {
    width: 100%;
    height: 1px;
    top: -20px;
    right: 0;
  }

  .details__box::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    top: -20px;
    right: 0;
    background: #E5E5E5;
  }

  .details__box-title {
    font-size: 20px;
    line-height: 1em;
  }

  .details__box-text {
    font-size: 16px;
    line-height: 1.25em;
    margin: 10px auto 0px auto;
    padding: 0 20px;
  }

  .details__box-text--slim {
    max-width: none;
  }

  .cards {
    margin-bottom: 40px;
  }

  .cards--slider {
    position: relative;
  }

  .cards__wrapper {
    display: flex;
    flex-direction: column;
  }

  .cards__wrapper--slider {
    -moz-column-gap: 0;
         column-gap: 0;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 0 !important;
  }

  .cards__card {
    margin-bottom: 40px;
  }

  .cards__card--slide {
    flex-shrink: 1;
    min-height: 470px;
  }

  .cards__card--slide-fs-0 {
    flex-shrink: 0;
    min-height: 200px;
  }

  .cards__card-img {
    display: none;
  }

  .cards__card-img--slide {
    display: block;
    width: 250px;
    flex: 0 1 auto;
  }

  .cards__card-title {
    font-size: 26px;
    line-height: 1.2em;
  }

  .cards__card-title--visible {
    opacity: 0;
    transition: ease-in 0.1s;
  }

  .cards .swiper-slide-active .cards__card-title--visible,
  .cards .swiper-slide-active .cards__card-text--visible {
    opacity: 1;
  }

  .cards__card-text {
    max-width: none;
    font-size: 16px;
    line-height: 1.25em;
    flex: 1 0 auto;
    margin-bottom: 0;
  }

  .cards__card-text--visible {
    opacity: 0;
    transition: ease-in 0.1s;
  }

  .cards__card-inner {
    padding: 20px;
  }

  .cards__card-inner--date {
    padding: 24px 27px;
  }

  .cards__card-item {
    font-size: 16px;
    line-height: 1.25em;
  }

  .cards__card-item:not(:last-child) {
    margin-bottom: 8px;
  }

  .cards__card-item--date {
    font-size: 14px;
    line-height: 1.43em;
    color: #FFFFFF;
  }

  .about {
    margin-top: 50px;
  }

  .reviews {
    margin-top: 50px;
  }

  .reviews__buttons {
    max-width: 200px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 30px auto 0 auto;
  }

  .reviews-slider__img-block {
    display: flex;
    margin: auto;
  }

  .reviews-slider__img-block img:first-child {
    margin-right: 12px;
  }

  .reviews-slider__img {
    max-width: 159px;
  }

  .reviews-slider__reviewer {
    margin-top: 30px;
  }

  .reviews-slider__reviewer-name {
    font-size: 18px;
    line-height: 1.22em;
    margin-bottom: 6px;
  }

  .reviews-slider__reviewer-info {
    font-size: 14px;
    line-height: 1.71em;
    margin-bottom: 6px;
  }

  .reviews-slider__reviewer-procedure {
    font-size: 14px;
    line-height: 1.86em;
  }

  .reviews-slider__reviewer-procedure--bold {
    font-size: 14px;
    line-height: 1.86em;
    padding-right: 15px;
  }

  .reviews-slider__reviewer-review {
    margin-top: 20px;
    padding-bottom: 23px;
    font-size: 14px;
    line-height: 1.43em;
    -webkit-line-clamp: 8;
  }

  .reviews-slider__reviewer-link {
    font-size: 14px;
    line-height: 1.57em;
    padding-left: 27px;
  }

  .reviews-slider__point {
    width: 4px;
    height: 4px;
    left: 6px;
  }

  .reviews-slider__point::after,
  .reviews-slider__point::before {
    width: 4px;
    height: 4px;
  }

  .reviews-slider__point::after {
    right: -6px;
  }

  .reviews-slider__point::before {
    left: -6px;
  }

  .reviews-slider__nav {
    width: 70px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: -2px;
    right: -7px;
  }

  .exp__container {
    display: flex;
    flex-direction: column;
    border: none;
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .exp__box {
    text-align: center;
    position: relative;
    margin-bottom: 25px;
  }

  .exp__box::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #E5E5E5;
    z-index: -1;
  }

  .exp__number {
    font-size: 28px;
    line-height: 0.93em;
    padding-left: 0;
  }

  .exp__number::before {
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
  }

  .exp__text {
    padding-left: 0;
    font-size: 16px;
    line-height: 1.25em;
  }

  .form-block {
    margin: 50px 0;
  }

  .form-block__bg {
    background-position-x: 33%;
  }

  .form-block__title {
    font-size: 20px;
  }

  .form-block__container {
    padding: 90px 25px;
  }

  .form-block__subtitle {
    font-size: 14px;
    line-height: 1.43em;
  }

  .form-block__input {
    width: 240px;
    font-size: 14px;
    padding-left: 10px;
  }

  .form-block__input::-moz-placeholder {
    font-size: 14px;
    line-height: 1.41em;
  }

  .form-block__input::placeholder {
    font-size: 14px;
    line-height: 1.41em;
  }

  .video {
    margin-bottom: 50px;
  }

  .video__wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  .video__box:first-child {
    margin-bottom: 30px;
  }

  .video__play {
    width: 40px;
  }

  .video__name {
    font-size: 14px;
    line-height: 1.43em;
  }

  .contact__subtitle {
    font-size: 18px;
  }

  .contact__buttons-block {
    margin-top: 40px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    font-size: 16px;
    font-weight: 700;
  }

  .filmstrip {
    margin-bottom: 50px;
  }

  .filmstrip__slide {
    background-image: url(../img/film-slide-mobile.png);
    flex-shrink: 0;
    background-size: auto;
  }

  .filmstrip__slide-inner {
    justify-content: center;
    padding: 51px 15px;
  }

  .filmstrip__img {
    max-width: 160px;
  }

  .cookies__container {
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cookies__text {
    margin: 0 0 15px 0;
    font-size: 12px;
    line-height: 1.16em;
  }

  .wrapper {
    padding: 0 15px;
  }
}

@media screen and (max-width: 600px) {
  .swiper-pagination-1 {
    display: flex;
    justify-content: center;
  }
}