.header{
  position: absolute;
  width: 100%;

  &__inner{
    padding-top: $offset-big;
    justify-content: space-between;
    align-items: center;
  }

  &__link{
    margin-left: $offset-secondary;
  }

    @include mobile {
      &__inner {
        padding-top: $offset-secondary;
      }

      &__logo{
        max-width: 114px;
      }
    }
}