.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;

  &__top {
    background: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    flex: 1 0 auto;
  }

  &__bottom {
    flex: 0 1 auto;
  }

  &__wrapper {
    height: 100%;
    display: flex;
    justify-content: end;
  }

  &__inner {
    padding: 0 0 10% 0;
    justify-content: end;
    align-items: flex-end;
  }

  &__title {
    font-weight: 600;
    font-size: 45px;
    padding-right: 20px;
    overflow: hidden;
  }

  &__title-line {
    display: block;
    line-height: 1.3em;
    letter-spacing: 0.02em;
    color: $color-secondary;

    &:last-child {
      color: white;
    }
  }

  @include mobile {
    &__inner {
      padding: 405px 0 90px 0;
      justify-content: end;
    }

    &__title {
      font-size: 22px;
      padding-right: 63px;
    }
  }
}