.button {
  width: fit-content;
  padding: 8px 26px;
  display: block;
  font-size: 16px;
  line-height: 1.57em;
  text-align: center;
  letter-spacing: 0.04em;
  font-family: MuseoSansCyrl;
  background-color: $color-secondary;
  border-radius: 30px;
  border: 1px solid $color-secondary;
  color: white;
  cursor: pointer;
  transition: ease-in .2s;

  &:hover {
    background: none;
    color: $color-secondary;

    @include mobile {
      background-color: $color-secondary;
      color: white;
    }
  }

  &--bg-none {
    background: none;
    color: $color-secondary;
    border: 1px solid $color-secondary;
  }

  &--white {
    background: none;
    color: white;
    border: 1px solid white;
    display: inline-block;
  }

  &--margin-top {
    margin-top: 20px;
  }

  &--centered {
    margin: $offset-middle auto 0 auto;
  }

  &__img {
    margin-right: 10px;
    transition: ease-in .2s;
  }

  &--whatsapp {
    align-items: center;
    display: flex;
    background: none;
    border: 1px solid $color-secondary;
    color: $color-secondary;
    padding: 8px 80px 8px 25px;
    margin-right: 30px;

    &:hover {
      color: white !important;
      background-color: $color-secondary  !important;

      .button__img--whatsapp {
        filter: invert(213%) sepia(26) saturate(1%) hue-rotate(363deg) brightness(192%) contrast(91%);
      }

      @include mobile {
        color: $color-secondary  !important;
        background: none !important;

        .button__img--whatsapp {
          filter: none;
        }
      }
    }
  }

  &--telegram {
    align-items: center;
    display: flex;
    background: none;
    border: 1px solid #0A8FF0;
    color: #0A8FF0;
    padding: 8px 80px 8px 25px;

    &:hover {
      color: white !important;
      background-color: #0A8FF0 !important;

      .button__img--telegram {
        filter: invert(213%) sepia(26) saturate(1%) hue-rotate(363deg) brightness(192%) contrast(91%)
      }

      @include mobile {
        color: #0A8FF0 !important;
        background: none !important;

        .button__img--telegram {
          filter: none;
        }
      }
    }
  }


  @include mobile {
    padding: 7px 21px;
    font-size: 14px;

    &--margin-top {
      margin: 20px auto !important;
    }

    &--centered {
      margin: 0 auto;
    }

    &--whatsapp {
      width: fit-content;
      padding: 12px 47px;
      margin-bottom: 20px;
      margin-right: 0;
      font-size: 16px;
    }

    &--telegram {
      width: fit-content;
      padding: 12px 50px;
      font-size: 16px;
    }
  }
}

.button--white:hover {
  color: $color-secondary;
  background-color: white;
}