.button {
  padding: 8px 26px;
  display: block;
  font-size: 16px;
  line-height: 1.57em;
  text-align: center;
  letter-spacing: 0.04em;
  font-family: MuseoSansCyrl;
  background-color: $color-secondary;
  border-radius: 30px;
  border: 1px solid $color-secondary;
  color: white;
  cursor: pointer;
  transition: ease-in .2s;

  &--bg-none {
    background: none;
    color: $color-secondary;
    border: 1px solid $color-secondary;
  }

  &--white {
    background: none;
    color: white;
    border: 1px solid white;
    display: inline-block;
  }

  &--margin-top {
    margin-top: 20px;
  }

  &--centered {
    margin: $offset-middle auto 0 auto;
  }

  &:hover {
    background: none;
    color: $color-secondary;
  }

  @include mobile {
    padding: 7px 21px;
    font-size: 14px;

    &--margin-top {
      margin: 20px auto;
    }

    &--centered {
      margin: 0 auto;
    }
  }
}

.button--white:hover {
  color: $color-secondary;
  background-color: white;
}